<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{.Game.Title}}</title>
  <link rel="stylesheet" type="text/css" href="/static/shared.css">
  <link rel="stylesheet" type="text/css" href="/static/{{.Game.Theme}}.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div class="container">
    {{range .Game.Teams}}
    <div class="team {{.Class}}">
      {{range .Members}}
      <div class="member">
        <div class="avatar"><img src="{{.Image}}"></div>
      <div class="name">{{.Name}}</div>
      </div>
      {{end}}
    </div>
    {{end}}

    <h1>
      {{range .Game.Teams}}
        <span class="team-score {{.Class}}" id="{{.Class}}">{{.Name}}: <span class="count">0</span></span>&nbsp;
      {{end}}
    </h1>


    <h3 class="question">{{.Round.Question}}</h3>
    <div class="board">
      {{range .Round.Responses}}
      <div class="card" data-points="{{.Points}}">
        <div class="front">
          <span class="rank">{{.Rank}}</span>
        </div>
        <div class="back">
          <div class="answer">{{.Answer}}</div>
          <div class="score">{{.Score}}</div>
        </div>
      </div>
      {{end}}
    </div>

    <h3>Round {{.Round.Number}} Score: <span id="score">0</span></h3>
    <div class="helpful-buttons">
      <button id="points">Award Points</button>
      {{if (ne .Next 0)}}
      &nbsp|&nbsp;
      <a id="next" href="/{{.Next}}"><button>Next Round</button></a>
      {{end}}
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/nnattawat/flip/v1.1.1/dist/jquery.flip.min.js"></script>
  <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
