
body::before {
  background-image: url("/static/images/gotime-abstract-art.svg");
  opacity:  0.15;
}

.team-score {
  border: 3px solid #59CBE8;
}

.team-score.active {
  background-color: #59CBE8;
}

.member img {
  border:  3px solid #59CBE8;
}

.board {
  border: 5px solid #59CBE8;
}

.front {
  background: #3B879C;
}

.back {
  background: #59CBE8;
}
